.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--horizontal-space);
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column .fa-bars {
  margin-left: 25px;
}

.empty-space {
  opacity: 0;
}
